body,
#discussion_subject,
textarea,
body > div.navbar.navbar-fixed-top > div,
body > div.navbar.navbar-fixed-top,
input,
#description_container > ul > li:nth-child(1) > div > a:nth-child(1),
#description_container > ul > li:nth-child(1) > div > a:nth-child(2),
#description_container > ul > li:nth-child(2) > div > a:nth-child(1),
#description_container > ul > li:nth-child(2) > div > a:nth-child(2),
#description_container > ul > li:nth-child(3) > div.btn-group > a,
.table-picture,
.table-question,
.table-time,
.table-activity,
.tile-info,
.nav-box,
#user_profile_modal_body,
.thumbnail,
.modal-footer,
#wrap > div:nth-child(1) > nav > div.navbar-header.pull-right > ul > li > ul,
#user_settings_modal_body,
.modal-header,
#user_email,
#user_password,
#wrap > div:nth-child(1) > nav > div.navbar-header.pull-right > ul > li > a,
#dropdown_nav > li > a,
#dropdown_nav,
td {
	background-color: #151515 !important;
	color: #888 !important;
}
#discussion_subject,
textarea,
input,
#description_container > ul > li:nth-child(1) > div > a:nth-child(1),
#description_container > ul > li:nth-child(1) > div > a:nth-child(2),
#description_container > ul > li:nth-child(2) > div > a:nth-child(1),
#description_container > ul > li:nth-child(2) > div > a:nth-child(2),
#description_container > ul > li:nth-child(3) > div.btn-group > a,
#user_profile_modal_body,
.thumbnail,
.modal-footer,
#wrap > div:nth-child(1) > nav > div.navbar-header.pull-right > ul > li > ul,
#user_settings_modal_body,
.modal-header,
#user_email,
#user_password,
td {
	border: 2px #151515 !important;
}
.box {
	background-color: #222 !important;
	border: 2px solid #222 !important;
	animation: help 0.5s;
}
#course-tab-content > a {
	background-color: #e67e22;
	animation: help 0.5s;
}
.box h4 p {
	color: white !important;
}

#affixthis > ul,
#affixthis,
#newFooter,
footer,
#course-tab-content > div.discussions-box {
	background-color: #151515 !important;
	border: 2px #151515 solid !important;
}
#course-tab-content > div.inline-create-box,
#new_discussion,
#edit_user_23050 > div:nth-child(8) > div > div > span,
#user_current_password,
#user_password,
#user_password_confirmation,
.featurette-divider,
#body {
	background-color: #353535 !important;
	border: 2px #353535 !important;
}
#course-tab-content > div.inline-create-box {
	padding: 20px !important;
}

#course-tab-content > div.discussions-box {
	padding: 20px !important;
}
#affixthis > ul > li.active > a > span,
#affixthis > ul > li.active > a {
	font-weight: bold !important;
	color: #e67e22 !important;
}
#discuss_cancel,
#user_profile_modal > div > div > div.modal-footer > button,
#user_settings_modal > div.modal-dialog > div > div.modal-footer > button {
	background-color: red !important;
}
.footer-link,
#affixthis > ul > li > a > span,
#affixthis > ul > li > a {
	font-weight: bold !important;
	color: #888 !important;
}
#user_email,
#user_password {
	margin: 20px 0 !important;
}
#wrap > div:nth-child(1) > nav > div.navbar-header.pull-right > ul > li > ul > li > a,
#user_profile_modal_body > div:nth-child(2) > div > button > span:nth-child(1),
h3,
h4,
h5,
h6,
h7,
button.close,
legend {
	color: #888 !important;
}
#wrap > div:nth-child(1) > nav > div.navbar-header.pull-right > ul > li > a {
	padding: 5px 10px !important;
	margin-top: 20px !important;
}
#dissearch {
	margin: 0 !important;
	margin-bottom: 10px !important;
	background-color: #353535 !important;
	color: #aaa !important;
}
legend {
	border-bottom: 2px #353535 solid !important;
}
#edit_user_23050 > div:nth-child(8) > div > div > span,
#user_current_password,
#user_password,
#user_password_confirmation,
.featurette-divider,
#body {
	color: #888 !important;
}
#edit_user_23050 > div:nth-child(9) > div > input {
	background-color: #e67e22 !important;
	color: #fff !important;
}
#deadlines-list > ul > li > a:hover,
#yield > div > div.col-md-3 > div:nth-child(7) > ul > li > a:hover {
	background-color: #353535 !important;
}
@keyframes help {
	0% {
		transform: translate(-200px);
		opacity: 0;
	}
	100% {
		transform: translate(0);
		opacity: 1;
	}
}
/* Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> */
